/*
  accessibility
  */
a {
  color: $primary;
  &:focus {
    outline: rgba($gold, 0.75) solid 0.3rem;
    border-radius: 0.25rem;
  }
}

.a11y-highlight {
  &:hover {
    text-decoration: underline;
  }
}
