/*
 custom flexboxes
  */
.is-flex-purchases {
  .purchased-from {
    width: 14rem;
  }
  .quantity {
    width: 6rem;
  }
  .ondate {
    width: 8rem;
  }
  .price {
    width: 6rem;
  }
}

.is-flex-stored {
  .location {
    width: 18rem;
  }
  .condition {
    width: 10rem;
  }
  .quantity {
    width: 6rem;
  }
}

.is-flex-groupshare {
  .name {
    width: 22rem;
  }
  .ondate {
    width: 8rem;
  }
}

.is-flex-members {
  .email {
    width: 15rem;
  }
  .role {
    width: 8rem;
  }
  .state {
    width: 8rem;
  }
}
