/*
 custom flexboxes
  */
.is-flex-purchases {
  .purchased-from {
    width: 200px;
  }
  .quantity {
    width: 100px;
  }
  .ondate {
    width: 120px;
  }
  .price {
    width: 100px;
  }
}

.is-flex-stored {
  .location {
    width: 200px;
  }
  .condition {
    width: 160px;
  }
  .quantity {
    width: 100px;
  }
}

.is-flex-groupshare {
  .name {
    width: 400px;
  }
  .ondate {
    width: 120px;
  }
}

.is-flex-members {
  .email {
    width: 16rem;
  }
  .role {
    width: 9rem;
  }
  .state {
    width: 9rem;
  }
}
