body {
  background-image: url('/images/sport-wallpaper.jpg');
  background-repeat: repeat;
  padding: 12px;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  // @supports (padding: max(0px)) {
  //   padding-left: max(12px, env(safe-area-inset-left));
  //   padding-right: max(12px, env(safe-area-inset-right));
  // }
}
