.row-image {
  display: block;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .image {
    &.is-extralarge {
      max-width: 160px;
      max-height: 160px;
    }
  }
}

@media only screen and (min-width: 769px) {
  .image {
    &.is-extralarge {
      max-width: 200px;
      max-height: 200px;
    }
  }
}
