.is-overlay-topleft {
  top: 0;
  left: 0;
  position: absolute;
}

.is-overlay-topright {
  top: 0;
  right: 0;
  position: absolute;
}

.is-overlay-bottomleft {
  bottom: 0;
  left: 0;
  position: absolute;
}

.is-overlay-bottomright {
  bottom: 0;
  right: 0;
  position: absolute;
}

.is-overlay-leftcenter {
  top: 50%;
  left: 0;
  position: absolute;
}

.is-overlay-rightcenter {
  top: 50%;
  right: 0;
  position: absolute;
}

.icon-top-adjust {
  margin-top: -24px;
}

.is-sticky-bottomright {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
