/*
  accessibility
  */
// a {
//   color: $primary;
//   &:focus {
//     outline: rgba($gold, 0.75) solid 0.3rem;
//   }
// }

.a11y-highlight {
  color: $primary;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}
