@charset "utf-8";

$card-content-padding: 1rem;

@import '../../node_modules/bulma/bulma.sass';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

@include touch {
  .flex-row-touch {
    flex-direction: row;
  }

  .flex-col-touch {
    flex-direction: column;
  }
}

@include desktop {
  .flex-row-desktop {
    flex-direction: row;
  }

  .flex-row-desktop-reverse {
    flex-direction: row-reverse;
  }

  .flex-col-desktop {
    flex-direction: column;
  }
}
