/* colors */
$white: #ffffff;
$dark: #31358e;
$darkside: #000000;
$lightside: #eff6fd;

$gallery: #f0f0f0;
$silver: #cccccc;
$selago: #eff6fd;
$matisse: #2070b0;
$razzmatazz: #dc006b;
$woodsmoke: #121315;
$shark: #202329;
$charade: #2d3039;
$montecarlo: #7bcbd1;

$bronze: #af9500;
$silver: #b4b4b4;
$gold: #ad8a56;

$smoke: rgba(10, 10, 10, 0.9);

$affair-30: #7d419830;
$affair-20: #7d419820;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$mischka: #d9d3dc;

$starship: #f0f15b;
$cardinal: #c42127;
