/* Font */

body {
  font-family: PrentonRPPro-Regular, sans-serif, 'Font `Awesome 5 Free' !important;
  font-size: 20px;
}

em {
  font-family: PrentonRPPro-Italic;
  font-weight: normal;
  font-style: normal;
}

strong,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: PrentonRPProMedium-Regular;
  font-weight: normal;
  font-style: normal;
}

.navbar-brand.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}

.fa,
.fab,
.fal,
.far,
.fas {
  line-height: 1.5;
}

.ykb-fa {
  font-size: 2rem;
  padding: 1rem;
}
